<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Warung Sate Beber</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body class="bg-lgreen flex items-center justify-center h-screen">
<div class="bg-white pt-20 px-16 rounded shadow-2xl w-[26rem] h-[28rem]">
    <div class="flex justify-center mb-6">
        <img th:src="@{/assets/logo.png}" alt="Warung Sate Beber" class="h-16">
    </div>
    <form action="/login" method="post">
        <div th:if="${param.error}" class="text-red-600 mb-4 flex justify-center">
            Invalid username and password.
        </div>
        <div class="mb-4">
            <input type="text" id="username" name="username" placeholder="Enter username..."
                   class="w-full p-3 text-sm border border-gray-300 rounded-3xl focus:outline-none focus:ring-2 focus:ring-green-400" required>
        </div>
        <div class="mb-4">
            <input type="password" id="password" name="password" placeholder="Password"
                   class="w-full p-3 text-sm border border-gray-300 rounded-3xl focus:outline-none focus:ring-2 focus:ring-green-400" required>
        </div>
        <hr>
        <button type="submit" class="w-full mt-4 py-3 p-2 bg-[#4E6934] text-sm text-white rounded-full hover:bg-dgreen">Login</button>
    </form>
</div>
</body>

</html>